# Inicio

In [50]:
from SPARQLWrapper import SPARQLWrapper, JSON

# Definir la URL del punto de acceso SPARQL de Virtuoso
sparql_endpoint = "http://localhost:8890/sparql"

# Crear una instancia de SPARQLWrapper
sparql = SPARQLWrapper(sparql_endpoint)

# Consulta 1 (SparQLWrapper): Obtener los nombres de todas las editoriales en la ontología

In [51]:
query1 = """
PREFIX bib: <http://localhost:8890/Biblioteca-Hemeroteca-Ludoteca/>
SELECT DISTINCT ?editorialNombre
WHERE {
  ?editor rdf:type bib:Editorial .
  ?editor bib:tieneNombre ?editorialNombre .
}
ORDER BY ?editorialNombre
"""
sparql.setQuery(query1)
sparql.setReturnFormat(JSON)
results1 = sparql.query().convert()

print("Editoriales en la ontología:")
for result in results1["results"]["bindings"]:
    print(result["editorialNombre"]["value"])

Editoriales en la ontología:
Detective Comics
Hakusensha
Marvel Comics
Shukan Shonen Jump

# Consulta 2 (SparQLWrapper): Obtener los autores nacidos después de 1950

In [56]:
query2 = """
PREFIX bib: <http://localhost:8890/Biblioteca-Hemeroteca-Ludoteca/>
SELECT DISTINCT ?autorNombre, ?paisOrigenLabel
WHERE {
  ?autor rdf:type bib:Autor .
  ?autor bib:añoDeNacimiento ?nacimiento .
  ?autor bib:tieneNombre ?autorNombre .
  FILTER(?nacimiento > 1900)
} ORDER BY ?autorNombre
"""
sparql.setQuery(query2)
results2 = sparql.query().convert()

print("\nAutores nacidos después de 1900:")
for result in results2["results"]["bindings"]:
    print(result["autorNombre"]["value"])

Autores nacidos después de 1900:
Dante Alighieri
Gabriel Garcia Marquez

# Consulta 3 (SparQLWrapper): Obtener el nombre y la editorial del libro

In [53]:
query3 = """
PREFIX bib: <http://localhost:8890/Biblioteca-Hemeroteca-Ludoteca/>
SELECT ?libr
WHERE {
  ?libr a bib:Libro .
} 
"""
sparql.setQuery(query3)
results3 = sparql.query().convert()
print(results3)
print("\n nombre y la editorial del libro:")
for result in results3["results"]["bindings"]:
    print(result["editorialNombre"]["value"], result["tituloLibro"]["value"])

{'head': {'link': [], 'vars': ['libr']}, 'results': {'distinct': False, 'ordered': True, 'bindings': []}}

 nombre y la editorial del libro:

# Consulta 4 (SparQLWrapper): Obtener los superhéroes y sus cómics

In [43]:
query4 = """
PREFIX bib: <http://localhost:8890/Biblioteca-Hemeroteca-Ludoteca/>
SELECT DISTINCT ?superheroeNombre ?comicTitulo
WHERE {
  ?superheroe rdf:type bib:Superheroe .
  ?superheroe bib:tieneNombre ?superheroeNombre .
  ?comic rdf:type bib:Comic .
  ?comic bib:tieneSuperheroe ?superheroe .
  ?comic bib:tieneTitulo ?comicTitulo .
}
ORDER BY ?superheroeNombre ?comicTitulo
"""
sparql.setQuery(query4)
results4 = sparql.query().convert()

print("\nSuperhéroes y sus cómics:")
current_superhero = ""
for result in results4["results"]["bindings"]:
    superheroe_nombre = result["superheroeNombre"]["value"]
    comic_titulo = result["comicTitulo"]["value"]
    if superheroe_nombre != current_superhero:
        print(f"\nSuperhéroe: {superheroe_nombre}")
        current_superhero = superheroe_nombre
    print(f"Cómic: {comic_titulo}")

Superhéroes y sus cómics:

# Consulta 5 (SparQLWrapper): Obtener los nombres de los socios

In [58]:
query2 = """
PREFIX bib: <http://localhost:8890/Biblioteca-Hemeroteca-Ludoteca/>
SELECT DISTINCT ?socioNombre
WHERE {
  ?socio rdf:type bib:Socio .
  ?socio bib:tieneNombre ?socioNombre .
} ORDER BY ?socioNombre
"""
sparql.setQuery(query2)
results2 = sparql.query().convert()

print("\nAutores nacidos después de 1900:")
for result in results2["results"]["bindings"]:
    print(result["autorNombre"]["value"])

Autores nacidos después de 1900:

# Consulta 1 (RDFLib)

# Consulta 2 (RDFLib)